main {
    background-color: var(--light-gray);
    width: fit-content;
    padding: .7em 1em;
    display: grid;
    text-align: left;
}


    div {
        display: grid;
        gap: 10px;
        padding: 1.3em 1em;
        width: 17em;
    }
    
    @media (min-width:600px) {
        main {
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
            "top top"
            "center footer";
            
        }


        div {
            padding: 2em 2em;
            margin: 0;
            width: 100%;   
            max-width: 650px;
           
        }
        
        .top {
            grid-area: top;
            box-shadow: 1px 2px 7px rgba(128, 128, 128, 0.429);
        }

        .footer_section {
            grid-area: footer;
        }

    }