<div class="center">
    <h5>Monthly Subscription</h5>
    <div class="subscription_price">
        <b>$29</b>
        <span>per month</span>
    </div>
    <p>Full access for less than $1 a month</p>
    <a>Sign Up</a>
</div>

<style>

.center {
        color: var(--light-gray);
        background-color: var(--cyan);
    }

    
    .center h5 {
        color: var(--light-gray);
        font-size: 1rem;
    }


    .subscription_price {
        display: flex;
        margin: 0;
        align-items: center;
        width: fit-content;
        padding: 0;
        box-shadow: none;
    }

    .subscription_price b {
        font-size: 2rem;
        border: 1px solid;
        padding: .3em .1em;
    }


    .center p {
        font-size: .8rem;
        margin-block-end: 1.5em;
        
    }

    span {
        font-size: .9rem;
        color: rgba(245, 245, 245, 0.833);
    }


    a {
        color: var(--light-gray);
        display: inline-block;
        border: 1px solid;
        border-radius: .2em;
        box-shadow: 0 2px 5px gray;
        text-align: center;
        border: none;
        padding: .7em .8em;
        cursor: pointer;
        background-color:  var(--bright-yellow);
    }
</style>