<div class="footer_section">
    <h2>Why us</h2>
    <p>Tutorials by industry experts
        Peer &amp; expert code review
        Coding exercises Access to our GitHub repos
        Community forum Flashcard decks New videos every week
    </p>
</div>


<style>

    .footer_section {
        color: white;
        background-color: var(--cyan);
        opacity: .8;
        padding-block: 1.8em;
    }

    .footer_section h2 {
        font-size: 1rem;
    }

    .footer_section p {
        font-size: .9rem;
        line-height: 1.4;
        width: 170px;
        color: rgba(255, 255, 255, 0.979);
    }
    
</style>