<div class="top">
    <h1>Join our community</h1>
    <h5>30-day, hassle-free money back guarantee</h5>
    <p> Gain access to our full library of tutorials along with expert code reviews. Perfect for any developers who are serious about honing their skills.</p>
</div>

<style>
    .top {
        background-color: white;
    }
    .top h5 {
        color: var(--bright-yellow);
        font-size: .8rem;
    }

    .top p {
        color: var(--grayish-blue);
        font-size: .8rem;
        line-height: 1.7;
    }
</style>